In [141]:
import numpy as np #importo la libreria numpy
import pandas as pd #importo la libreria pandas
pd.options.display.max_columns = 999

<h1> Calcolo di Gini su dati fittizi</h1>

<h2> libreria pandas - introduzione alla Series </h2>

<p> la serie permette di immagazzinare un vettore unidimensionale (dati relativi ad un caso) .. in questo caso la media dei quintili </p>

In [142]:
Italia = pd.Series([40000, 20000, 15000, 8000, 8000], name = "Italy") # creo una serie di dati (una riga di dati relativi ad un caso)

In [143]:
Italia

0    40000
1    20000
2    15000
3     8000
4     8000
Name: Italy, dtype: int64

In [144]:
Italia = pd.Series([40000, 20000, 15000, 8000, 8000], name = "Italy", index = ["I-Q", "II-Q", "III-Q", "IV-Q", "V-Q"])

In [145]:
Italia

I-Q      40000
II-Q     20000
III-Q    15000
IV-Q      8000
V-Q       8000
Name: Italy, dtype: int64

In [146]:
Svezia = pd.Series([35000, 32000, 30000, 21000, 19000], name = 'Sweden', index = ["I-Q", "II-Q", "III-Q", "IV-Q", "V-Q"]) # creo una serie di dati (una riga di dati relativi ad un caso)

In [147]:
Usa = pd. Series([75000,12000, 10000, 9000, 8000], name = 'United States', index = ["I-Q", "II-Q", "III-Q", "IV-Q", "V-Q"]) # creo una serie di dati (una riga di dati relativi ad un caso)

<p> possibile applicare alcune funzioni alla serie, ecco alcuni esempi </p>

In [148]:
Italia.mean() # posso applicare la funzione di pandas che calcola la media

18200.0

In [149]:
Italia.std() # posso applicare la funzione di pandas che calcola la deviazione standard (indice di dispersione)

13198.484761517135

In [150]:
Svezia.mean()

27400.0

In [151]:
Svezia.std()

7021.395872616783

In [152]:
Usa.mean()

22800.0

In [153]:
Usa.std()

29218.145047213384

<h2> esercizio - provate ad aggiungere la Germania (con dati inventati da voi) </h2>

<h2> Pandas - introduzione al dataframe: il dataframe è una vera e propria tabella con indice di riga (casi), e di colonna (stati sulla proprietà) </h2>

In [154]:
tabella = pd.DataFrame([Italia, Svezia, Usa])
tabella

                 I-Q   II-Q  III-Q   IV-Q    V-Q
Italy          40000  20000  15000   8000   8000
Sweden         35000  32000  30000  21000  19000
United States  75000  12000  10000   9000   8000

In [155]:
tabella["mean"] = tabella.mean(axis = 1) # axis = 1 perché l'operazione è eseguita per riga e non per colonna 
tabella

                 I-Q   II-Q  III-Q   IV-Q    V-Q     mean
Italy          40000  20000  15000   8000   8000  18200.0
Sweden         35000  32000  30000  21000  19000  27400.0
United States  75000  12000  10000   9000   8000  22800.0

In [156]:
tabella["std"] = tabella.std(axis = 1) 
tabella

                 I-Q   II-Q  III-Q   IV-Q    V-Q     mean           std
Italy          40000  20000  15000   8000   8000  18200.0  11805.083651
Sweden         35000  32000  30000  21000  19000  27400.0   6280.127387
United States  75000  12000  10000   9000   8000  22800.0  26133.503401

<h1> dal punto di vista delle 10 regole del foglio di calcolo sto commettendo un grave errore, quale? </h1>

In [157]:
risultati = tabella[["mean", "std"]]
risultati

                  mean           std
Italy          18200.0  11805.083651
Sweden         27400.0   6280.127387
United States  22800.0  26133.503401

<h2> funzione per il calcolo dell'indice di gini </h2>

In [158]:
def gini(series):
    """Calculate the Gini coefficient of a numpy array."""
    # based on bottom eq: http://www.statsdirect.com/help/content/image/stat0206_wmf.gif
    # from: http://www.statsdirect.com/help/default.htm#nonparametric_methods/gini.htm
    # from Oliviaguest repository: https://github.com/oliviaguest/gini
    series = series.apply(lambda x: float(x))
    array =  series.values
    array = array.flatten() #all values are treated equally, arrays must be 1d
    if np.amin(array) < 0:
        array -= np.amin(array) #values cannot be negative
    array += 0.0000001 #values cannot be 0
    array = np.sort(array) #values must be sorted
    index = np.arange(1,array.shape[0]+1) #index per array element
    n = array.shape[0]#number of array elements
    return ((np.sum((2 * index - n  - 1) * array)) / (n * np.sum(array))) #Gini coefficient

In [159]:
gini(Italia)

0.33406593406409851

In [160]:
gini(Svezia)

0.12554744525501624

In [161]:
gini(Usa)

0.48070175438385654

In [162]:
#riprendo la tabella pulita "dati grezzi"
tabella = pd.DataFrame([Italia, Svezia, Usa])
tabella.columns
tabella

                 I-Q   II-Q  III-Q   IV-Q    V-Q
Italy          40000  20000  15000   8000   8000
Sweden         35000  32000  30000  21000  19000
United States  75000  12000  10000   9000   8000

In [163]:
gini_series = tabella.apply(gini, axis = 1) #applico la funzione gini a tutte le righe
gini_series.name = "gini"
gini_series

Italy            0.334066
Sweden           0.125547
United States    0.480702
Name: gini, dtype: float64

In [164]:
risultati

                  mean           std
Italy          18200.0  11805.083651
Sweden         27400.0   6280.127387
United States  22800.0  26133.503401

In [165]:
risultati = pd.concat([risultati, gini_series], axis = 1) #ecco una tabella separata con i risultati.. 
#in questo caso la funzione concat concatena i risultati con lo stesso indice di riga
risultati

                  mean           std      gini
Italy          18200.0  11805.083651  0.334066
Sweden         27400.0   6280.127387  0.125547
United States  22800.0  26133.503401  0.480702

<h2> Esercizio - provate anche qua ad aggiungere la Germania </h2>

<h1> Gini - esecizi su dati World Bank </h1>

In [166]:
#download dei dati direttamente dal portale UNU-WIDER

import urllib.request
...
# Download the file from `url` and save it locally under `file_name`:
#urllib.request.urlretrieve(url, file_name)

urllib.request.urlretrieve ("http://api.worldbank.org/v2/en/indicator/SI.POV.GINI?downloadformat=excel", "gini.xlsx")

('gini.xlsx', <http.client.HTTPMessage at 0x1effeff8e80>)

In [167]:
gini_wb = pd.read_excel("gini.xlsx")

In [168]:
gini_wb.head(10)

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60
0,Last Updated Date,2017-04-27 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,1978.0,1979.0,1980.0,1981.0,1982.0,1983.0,1984.0,1985.0,1986.0,1987.0,1988.0,1989.0,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.00,1997.0,1998.0,1999.0,2000.00,2001.0,2002.00,2003.0,2004.0,2005.0,2006.0,2007.0,2008.00,2009.0,2010.0,2011.0,2012.00,2013.0,2014.0,2015.0,2016.0
3,Aruba,ABW,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,AFG,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Angola,AGO,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Albania,ALB,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.01,NaN,NaN,NaN,NaN,NaN,31.74,NaN,NaN,30.6,NaN,NaN,29.98,NaN,NaN,NaN,28.96,NaN,NaN,NaN,NaN
7,Andorra,AND,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Arab World,ARB,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,United Arab Emirates,ARE,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [169]:
gini_wb = pd.read_excel("gini.xlsx", skiprows = 3)

In [170]:
gini_wb.describe()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8.000000,1.00,2.000000,6.000000,11.000000,11.000000,15.000000,23.000000,17.000000,13.000000,15.000000,29.000000,25.000000,25.000000,28.000000,32.000000,25.000000,44.000000,32.000000,41.000000,41.000000,52.000000,49.000000,71.000000,74.000000,71.000000,72.000000,72.000000,76.000000,76.000000,72.000000,72.000000,37.000000,30.000000,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.281250,58.42,42.435000,42.350000,40.105455,46.584545,40.696667,31.016522,44.494706,44.492308,45.658000,42.466207,42.328400,45.796400,42.828929,43.738438,46.142000,42.305455,43.870625,43.676585,42.689756,41.783077,41.493265,38.140986,38.484865,38.523099,36.649722,37.697083,37.852500,36.560395,36.900556,36.635972,39.723514,40.120333,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.440857,NaN,23.412306,11.677037,10.129064,9.261362,12.003345,11.482608,13.582509,8.825183,9.808793,9.970394,12.507899,9.693527,9.415885,10.309659,10.143861,9.182769,11.003488,10.309698,10.245749,10.364309,10.222657,9.584141,9.354328,9.628694,8.266907,9.067109,9.082875,8.331746,8.925367,8.247325,9.149582,9.002209,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.330000,58.42,25.880000,28.900000,25.160000,34.420000,20.960000,19.400000,23.310000,32.450000,27.570000,19.490000,21.600000,24.320000,28.760000,25.810000,26.380000,26.380000,27.640000,27.220000,26.920000,17.360000,18.810000,16.230000,16.640000,24.480000,24.370000,23.720000,24.830000,24.820000,24.550000,24.740000,24.550000,24.090000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.555000,58.42,34.157500,32.342500,32.485000,37.850000,32.460000,22.875000,33.150000,40.240000,38.400000,35.500000,29.180000,41.440000,35.070000,35.325000,38.410000,33.507500,32.447500,34.260000,34.140000,34.050000,33.030000,30.685000,30.727500,30.390000,30.522500,30.860000,31.377500,30.220000,30.757500,30.480000,30.690000,32.050000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.435000,58.42,42.435000,43.905000,41.040000,47.420000,43.480000,25.740000,46.170000,42.040000,46.760000,42.510000,44.860000,44.020000,41.885000,44.435000,45.960000,41.905000,43.045000,40.810000,39.600000,40.480000,40.060000,35.200000,36.135000,35.600000,34.445000,34.745000,34.870000,33.770000,33.935000,35.155000,41.060000,41.720000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.520000,58.42,50.712500,48.867500,45.580000,55.555000,48.765000,38.820000,54.340000,45.300000,52.900000,50.950000,52.610000,53.370000,49.145000,51.522500,53.720000,49.262500,54.772500,51.960000,51.830000,50.230000,50.370000,45.745000,45.510000,44.820000,41.150000,43.397500,45.385000,42.267500,43.332500,41.875000,47.290000,48.352500,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.930000,58.42,58.990000,58.380000,55.590000,58.460000,59.690000,61.430000,63.300000,60.490000,60.510000,61.330000,60.790000,63.240000,59.570000,60.690000,65.760000,59.610000,58.990000,63.260000,59.480000,64.730000,63.320000,58.410000,59.510000,64.790000,56.160000,63.010000,60.970000,55.620000,63.380000,60.790000,53.670000,53.500000,NaN,NaN

In [171]:
gini_wb.describe()["2010"]

count    76.000000
mean     36.560395
std       8.331746
min      24.820000
25%      30.220000
50%      33.770000
75%      42.267500
max      55.620000
Name: 2010, dtype: float64

In [172]:
gini_wb.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016'],
      dtype='object')

In [173]:
#filtriamo la serie storica per l'Italia
gini_wb[gini_wb['Country Name'] == "Italy"]

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
114,Italy,ITA,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.53,34.07,34.26,33.19,33.74,33.66,34.41,34.52,35.16,NaN,NaN,NaN,NaN

In [174]:
#filtriamo il valore per l'Italia relativo al 2012
gini_wb[gini_wb['Country Name'] == "Italy"]["2012"]

114    35.16
Name: 2012, dtype: float64

<h2> esercizio - provate a filtrare i dati della Germania </h2>

In [175]:
#miglioriamo la struttura dati inserendo un indice di colonna
gini_wb.set_index('Country Name', inplace = True)

In [176]:
gini_wb.index

Index(['Aruba', 'Afghanistan', 'Angola', 'Albania', 'Andorra', 'Arab World',
       'United Arab Emirates', 'Argentina', 'Armenia', 'American Samoa',
       ...
       'Virgin Islands (U.S.)', 'Vietnam', 'Vanuatu', 'World', 'Samoa',
       'Kosovo', 'Yemen, Rep.', 'South Africa', 'Zambia', 'Zimbabwe'],
      dtype='object', name='Country Name', length=264)

In [177]:
list(gini_wb.index)

['Aruba',
 'Afghanistan',
 'Angola',
 'Albania',
 'Andorra',
 'Arab World',
 'United Arab Emirates',
 'Argentina',
 'Armenia',
 'American Samoa',
 'Antigua and Barbuda',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Burundi',
 'Belgium',
 'Benin',
 'Burkina Faso',
 'Bangladesh',
 'Bulgaria',
 'Bahrain',
 'Bahamas, The',
 'Bosnia and Herzegovina',
 'Belarus',
 'Belize',
 'Bermuda',
 'Bolivia',
 'Brazil',
 'Barbados',
 'Brunei Darussalam',
 'Bhutan',
 'Botswana',
 'Central African Republic',
 'Canada',
 'Central Europe and the Baltics',
 'Switzerland',
 'Channel Islands',
 'Chile',
 'China',
 "Cote d'Ivoire",
 'Cameroon',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Colombia',
 'Comoros',
 'Cabo Verde',
 'Costa Rica',
 'Caribbean small states',
 'Cuba',
 'Curacao',
 'Cayman Islands',
 'Cyprus',
 'Czech Republic',
 'Germany',
 'Djibouti',
 'Dominica',
 'Denmark',
 'Dominican Republic',
 'Algeria',
 'East Asia & Pacific (excluding high income)',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'Europe & Central Asia (excluding high income)',
 'Europe & Central Asia',
 'Ecuador',
 'Egypt, Arab Rep.',
 'Euro area',
 'Eritrea',
 'Spain',
 'Estonia',
 'Ethiopia',
 'European Union',
 'Fragile and conflict affected situations',
 'Finland',
 'Fiji',
 'France',
 'Faroe Islands',
 'Micronesia, Fed. Sts.',
 'Gabon',
 'United Kingdom',
 'Georgia',
 'Ghana',
 'Gibraltar',
 'Guinea',
 'Gambia, The',
 'Guinea-Bissau',
 'Equatorial Guinea',
 'Greece',
 'Grenada',
 'Greenland',
 'Guatemala',
 'Guam',
 'Guyana',
 'High income',
 'Hong Kong SAR, China',
 'Honduras',
 'Heavily indebted poor countries (HIPC)',
 'Croatia',
 'Haiti',
 'Hungary',
 'IBRD only',
 'IDA & IBRD total',
 'IDA total',
 'IDA blend',
 'Indonesia',
 'IDA only',
 'Isle of Man',
 'India',
 'Not classified',
 'Ireland',
 'Iran, Islamic Rep.',
 'Iraq',
 'Iceland',
 'Israel',
 'Italy',
 'Jamaica',
 'Jordan',
 'Japan',
 'Kazakhstan',
 'Kenya',
 'Kyrgyz Republic',
 'Cambodia',
 'Kiribati',
 'St. Kitts and Nevis',
 'Korea, Rep.',
 'Kuwait',
 'Latin America & Caribbean (excluding high income)',
 'Lao PDR',
 'Lebanon',
 'Liberia',
 'Libya',
 'St. Lucia',
 'Latin America & Caribbean',
 'Least developed countries: UN classification',
 'Low income',
 'Liechtenstein',
 'Sri Lanka',
 'Lower middle income',
 'Low & middle income',
 'Lesotho',
 'Late-demographic dividend',
 'Lithuania',
 'Luxembourg',
 'Latvia',
 'Macao SAR, China',
 'St. Martin (French part)',
 'Morocco',
 'Monaco',
 'Moldova',
 'Madagascar',
 'Maldives',
 'Middle East & North Africa',
 'Mexico',
 'Marshall Islands',
 'Middle income',
 'Macedonia, FYR',
 'Mali',
 'Malta',
 'Myanmar',
 'Middle East & North Africa (excluding high income)',
 'Montenegro',
 'Mongolia',
 'Northern Mariana Islands',
 'Mozambique',
 'Mauritania',
 'Mauritius',
 'Malawi',
 'Malaysia',
 'North America',
 'Namibia',
 'New Caledonia',
 'Niger',
 'Nigeria',
 'Nicaragua',
 'Netherlands',
 'Norway',
 'Nepal',
 'Nauru',
 'New Zealand',
 'OECD members',
 'Oman',
 'Other small states',
 'Pakistan',
 'Panama',
 'Peru',
 'Philippines',
 'Palau',
 'Papua New Guinea',
 'Poland',
 'Pre-demographic dividend',
 'Puerto Rico',
 'Korea, Dem. People’s Rep.',
 'Portugal',
 'Paraguay',
 'West Bank and Gaza',
 'Pacific island small states',
 'Post-demographic dividend',
 'French Polynesia',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'South Asia',
 'Saudi Arabia',
 'Sudan',
 'Senegal',
 'Singapore',
 'Solomon Islands',
 'Sierra Leone',
 'El Salvador',
 'San Marino',
 'Somalia',
 'Serbia',
 'Sub-Saharan Africa (excluding high income)',
 'South Sudan',
 'Sub-Saharan Africa',
 'Small states',
 'Sao Tome and Principe',
 'Suriname',
 'Slovak Republic',
 'Slovenia',
 'Sweden',
 'Swaziland',
 'Sint Maarten (Dutch part)',
 'Seychelles',
 'Syrian Arab Republic',
 'Turks and Caicos Islands',
 'Chad',
 'East Asia & Pacific (IDA & IBRD countries)',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Togo',
 'Thailand',
 'Tajikistan',
 'Turkmenistan',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Timor-Leste',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Tonga',
 'South Asia (IDA & IBRD)',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkey',
 'Tuvalu',
 'Tanzania',
 'Uganda',
 'Ukraine',
 'Upper middle income',
 'Uruguay',
 'United States',
 'Uzbekistan',
 'St. Vincent and the Grenadines',
 'Venezuela, RB',
 'British Virgin Islands',
 'Virgin Islands (U.S.)',
 'Vietnam',
 'Vanuatu',
 'World',
 'Samoa',
 'Kosovo',
 'Yemen, Rep.',
 'South Africa',
 'Zambia',
 'Zimbabwe']

In [178]:
gini_wb.loc[["Italy", 'Sweden', 'United States'], :]

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Italy,ITA,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.53,34.07,34.26,33.19,33.74,33.66,34.41,34.52,35.16,NaN,NaN,NaN,NaN
Sweden,SWE,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.43,27.10,26.47,26.92,27.13,26.61,26.81,27.24,27.32,NaN,NaN,NaN,NaN
United States,USA,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37.73,NaN,NaN,NaN,NaN,38.36,NaN,NaN,40.35,NaN,NaN,40.86,NaN,NaN,40.46,NaN,NaN,NaN,40.62,NaN,NaN,41.75,NaN,NaN,40.46,NaN,NaN,41.06,NaN,NaN,NaN

In [179]:
gini_wb.head()

,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,1970,1971,1972,1973,1974,1975,1976,1977,1978,1979,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
Country Name,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,AFG,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Angola,AGO,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,ALB,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.01,NaN,NaN,NaN,NaN,NaN,31.74,NaN,NaN,30.6,NaN,NaN,29.98,NaN,NaN,NaN,28.96,NaN,NaN,NaN,NaN
Andorra,AND,GINI index (World Bank estimate),SI.POV.GINI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<h2> provate ad aggiungere nel filtro la Germania </h2>

In [180]:
#per aver un dato completo su un numero di stati maggiore prendiamo la media degli ultimi 7 anni
gini_wb_2010_2016 = gini_wb.loc[: , ["2010", "2011", "2012", "2013", "2014", "2015", "2016"]].mean(axis = 1)
gini_wb_2010_2016

Country Name
Aruba                                                         NaN
Afghanistan                                                   NaN
Angola                                                        NaN
Albania                                                 28.960000
Andorra                                                       NaN
Arab World                                                    NaN
United Arab Emirates                                          NaN
Argentina                                               43.102000
Armenia                                                 31.178000
American Samoa                                                NaN
Antigua and Barbuda                                           NaN
Australia                                               34.940000
Austria                                                 30.510000
Azerbaijan                                                    NaN
Burundi                                                       NaN
Belgium                                                 28.183333
Benin                                                   43.440000
Burkina Faso                                            35.300000
Bangladesh                                              32.130000
Bulgaria                                                35.313333
Bahrain                                                       NaN
Bahamas, The                                                  NaN
Bosnia and Herzegovina                                  33.830000
Belarus                                                 27.202000
Belize                                                        NaN
Bermuda                                                       NaN
Bolivia                                                 47.355000
Brazil                                                  52.527500
Barbados                                                      NaN
Brunei Darussalam                                             NaN
                                                          ...
Latin America & the Caribbean (IDA & IBRD countries)          NaN
Timor-Leste                                                   NaN
Middle East & North Africa (IDA & IBRD countries)             NaN
Tonga                                                         NaN
South Asia (IDA & IBRD)                                       NaN
Sub-Saharan Africa (IDA & IBRD countries)                     NaN
Trinidad and Tobago                                           NaN
Tunisia                                                 35.810000
Turkey                                                  39.795000
Tuvalu                                                  41.100000
Tanzania                                                37.780000
Uganda                                                  41.010000
Ukraine                                                 24.550000
Upper middle income                                           NaN
Uruguay                                                 42.696000
United States                                           40.760000
Uzbekistan                                                    NaN
St. Vincent and the Grenadines                                NaN
Venezuela, RB                                                 NaN
British Virgin Islands                                        NaN
Virgin Islands (U.S.)                                         NaN
Vietnam                                                 39.656667
Vanuatu                                                 37.190000
World                                                         NaN
Samoa                                                         NaN
Kosovo                                                  29.297500
Yemen, Rep.                                                   NaN
South Africa                                            63.380000
Zambia                                                  55.620000
Zimbabwe                                                43.150000
dtype: float64

In [181]:
gini_wb_2010_2016 = gini_wb_2010_2016.dropna()

In [182]:
gini_wb_2010_2016.sort_values(ascending = True)

Country Name
Ukraine                  24.550000
Slovenia                 25.133333
Norway                   25.766667
Czech Republic           26.383333
Slovak Republic          26.673333
Iceland                  26.800000
Sweden                   27.123333
Belarus                  27.202000
Kazakhstan               27.442500
Finland                  27.506667
Belgium                  28.183333
Kyrgyz Republic          28.194000
Netherlands              28.296667
Albania                  28.960000
Denmark                  29.213333
Kosovo                   29.297500
Serbia                   29.355000
Moldova                  29.440000
Hungary                  29.620000
Pakistan                 30.473333
Austria                  30.510000
Tajikistan               30.563333
Germany                  30.635000
Croatia                  30.726667
Sao Tome and Principe    30.820000
Armenia                  31.178000
Montenegro               31.230000
Cambodia                 31.966667
Switzerland              32.063333
Bangladesh               32.130000
                           ...
Argentina                43.102000
Zimbabwe                 43.150000
Chad                     43.320000
Benin                    43.440000
Djibouti                 44.630000
Peru                     45.134000
Togo                     46.020000
Malawi                   46.120000
Cameroon                 46.540000
Seychelles               46.820000
Dominican Republic       46.837500
Ecuador                  46.940000
Nicaragua                47.050000
Bolivia                  47.355000
Mexico                   48.136667
Costa Rica               48.604000
Congo, Rep.              48.940000
Guatemala                50.505000
Paraguay                 50.514000
Chile                    50.645000
Guinea-Bissau            50.660000
Rwanda                   50.890000
Panama                   51.600000
Brazil                   52.527500
Colombia                 54.042000
Lesotho                  54.180000
Honduras                 54.500000
Zambia                   55.620000
Haiti                    60.790000
South Africa             63.380000
dtype: float64

In [183]:
gini_wb_2010_2016.sort_values(ascending = False)

Country Name
South Africa             63.380000
Haiti                    60.790000
Zambia                   55.620000
Honduras                 54.500000
Lesotho                  54.180000
Colombia                 54.042000
Brazil                   52.527500
Panama                   51.600000
Rwanda                   50.890000
Guinea-Bissau            50.660000
Chile                    50.645000
Paraguay                 50.514000
Guatemala                50.505000
Congo, Rep.              48.940000
Costa Rica               48.604000
Mexico                   48.136667
Bolivia                  47.355000
Nicaragua                47.050000
Ecuador                  46.940000
Dominican Republic       46.837500
Seychelles               46.820000
Cameroon                 46.540000
Malawi                   46.120000
Togo                     46.020000
Peru                     45.134000
Djibouti                 44.630000
Benin                    43.440000
Chad                     43.320000
Zimbabwe                 43.150000
Argentina                43.102000
                           ...
Bangladesh               32.130000
Switzerland              32.063333
Cambodia                 31.966667
Montenegro               31.230000
Armenia                  31.178000
Sao Tome and Principe    30.820000
Croatia                  30.726667
Germany                  30.635000
Tajikistan               30.563333
Austria                  30.510000
Pakistan                 30.473333
Hungary                  29.620000
Moldova                  29.440000
Serbia                   29.355000
Kosovo                   29.297500
Denmark                  29.213333
Albania                  28.960000
Netherlands              28.296667
Kyrgyz Republic          28.194000
Belgium                  28.183333
Finland                  27.506667
Kazakhstan               27.442500
Belarus                  27.202000
Sweden                   27.123333
Iceland                  26.800000
Slovak Republic          26.673333
Czech Republic           26.383333
Norway                   25.766667
Slovenia                 25.133333
Ukraine                  24.550000
dtype: float64

<h1> mettiamo in unica tabella i dati inventati e quelli reali </h1>

In [187]:
risultati_concatenati = pd.concat([risultati["gini"], gini_wb_2010_2016.loc[["Italy", "United States", "Sweden"]]], axis = 1)
risultati_concatenati.columns = ["inventati", "reali del 2010"]
risultati_concatenati

               inventati  reali del 2010
Italy           0.334066       34.696667
Sweden          0.125547       27.123333
United States   0.480702       40.760000